.jfx-text-field
{
    -fx-prompt-text-fill: #989898;
}

.jfx-password-field
{
    -fx-prompt-text-fill: #989898;
}


#signupBtn:hover
{
    -fx-text-fill:  #8cbec9;
}
#signinBtn:hover
{
    -fx-text-fill:  #8cbec9;
}

.button:hover
{
 -fx-background-color: #283847;
 -fx-text-fill: #FFF;

}

.button:hover .glyph-icon
{
 -fx-fill: #FFF;


}

#closeBtn: hover
{
-fx-fill: #FFF;
}

#closeBtn2: hover
{
-fx-fill: #8cbec9;
}
