.jfx-text-field
{
    -fx-prompt-text-fill: #989898;
}

.jfx-password-field
{
    -fx-prompt-text-fill: #989898;
}


#signupBtn:hover
{
    -fx-text-fill:  #8cbec9;
}
#signinBtn:hover
{
    -fx-text-fill:  #8cbec9;
}

.button:hover
{
 -fx-background-color: #283847;
 -fx-text-fill: #FFF;

}

.button:hover .glyph-icon
{
 -fx-fill: #FFF;


}

#closeBtn: hover
{
-fx-fill: #FFF;
}

#closeBtn2: hover
{
-fx-fill: #8cbec9;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white;


    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}
.text-area .content {

  -fx-background-color: #f5f8f8;

}

.text-area:focused .content {
   -fx-background-color: #f5f8f8;
   -fx-border-style: none;
}
